# ===================== 공통 (모든 프로필 공통) =====================
spring:
  application:
    name: AutoMornitoring
  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  # Redis는 각 프로필에서 host/port만 다르게
  data:
    redis:
      timeout: 5s
      database: 0
  storage:
    m3u8-dir: ${APP_BASE_M3U8_DIR:/file/m3u8}
    ts-dir: ${APP_BASE_TS_DIR:/file/ts}

server:
  tomcat:
    relaxed-query-chars: ['[', ']']

logging:
  level:
    org.hibernate.SQL: info
    org.hibernate.orm.jdbc.bind: info



# ffprobe 경로(기본값: ffprobe). 도커/리눅스면 /usr/bin/ffprobe 등으로 교체 가능
ffmpeg:
  ffprobe-path: ffprobe

# CORS 공통(필요시 오버라이드)
cors:
  allowed-origins: "http://localhost:3000"

# ===================== prod (운영/도커: MySQL + compose RabbitMQ/Redis) =====================
---
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:mysql://mysql:3306/mydatabase?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=utf8
    username: myuser
    password: secret
  jpa:
    hibernate:
      ddl-auto: update  # 운영에선 validate 권장

  rabbitmq:
    host: rabbitmq     # docker-compose 서비스명
    port: 5672
    username: myuser
    password: secret
    listener:
      simple:
        acknowledge-mode: AUTO
        prefetch: 3
      direct:
        acknowledge-mode: AUTO
        prefetch: 3
    template:
      reply-timeout: 3000ms
      mandatory: false
    publisher-confirm-type: correlated

  data:
    redis:
      host: redis      # docker-compose 서비스명
      port: 6379
      password: redispw

# prod 전용 CORS (원하는 도메인으로 교체)
cors:
  allowed-origins: "https://your-frontend.example.com"

# ===================== test (통합테스트: H2 + Testcontainers의 Rabbit/Redis) =====================
---
spring:
  config:
    activate:
      on-profile: test

  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL;DATABASE_TO_UPPER=false;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop

  data:
    redis:
      host: localhost
      port: 6379
      password:
slack:
  webhook-url: ${SLACK_WEBHOOK_URL}
